/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  background:#E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Poppins', sans-serif;

}
a {
  list-style: none;
  text-decoration: none;
}


button:focus {
    outline: none;
}
a:hover {
  color: none;
  text-decoration: none;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  display:block;
}
/* main-container area start css */
.main-container{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
/* main-container area end css */


/* left-sidebar start css */
.left-sidebar{
  width: 250px;
  padding: 40px 0 0 30px;
  border-right: 2px solid #DCDFE0;
}
/* menu bar area css stert */
.menu-bar{
  margin-top: 15px;
}

.menu-bar ul li{
  padding: 15px 0;
  position: relative;
}

.menu-bar ul li:before{
    position: absolute;
    content: '';
    background: #00AAFF;
    top: 10px;
    right: 0;
    width: 4px;
    height: 30px;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0; 
    transition: .4s ease-in-out;
}
.menu-bar ul li:hover:before{
  visibility: visible;
  opacity: 1;
}
.menu-bar ul li a{
  color:#919699;
  font-family:Poppins;
  font-size:16px ;
  font-weight:500 ;
  transition: .4s ease-in-out;
}
.menu-bar ul li a:hover{
  color:#00AAFF;
}
.menu-bar ul li a i{
  padding-right: 10px;
}
/* menu bar area css end */
/* customer-area start css */
.customer-area{
  background: #ffffff;
  margin-right: 30px;
  padding: 40px 0;
  border-radius:20px ;
  transition: .4s ease-in-out;
  margin-top: 341px;
}
.customer-area:hover{
  background: #24B29B;
}
.customer-area:hover p{
  color: #FFFFFF;
}
.customer-area:hover .customer-btn{
  background: #FFFFFF;
}
.customer-area:hover .customer-btn a{
  color: #24B29B;
}
.customer-area p{
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  color: #5C6366;
  transition: .4s ease-in-out;
}
.customer-btn{
  border: none;
  background: #24B29B;
  padding: 8px 24px;
  border-radius: 8px;
  transition: .4s ease-in-out;
}
.customer-btn a{
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: #FFFFFF;
  transition: .4s ease-in-out;
}
/* customer-area end css */
/* left-sidebar end css */

/* content area start css */
.main-body{
  width: calc(100% - 250px);
  padding: 30px;
}
.menu-btn{
  display: none;
}
.close-sidebar{
  display: none;
}
.header-area{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-title{
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  color: #293033;
  margin-bottom: 0;
}
.right-side{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.notification-wrap{
  cursor: pointer;
  position: relative;
}
.notification{
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 15px rgba(45, 57, 64, 0.05);
  justify-content: center;
  position: relative;
}
.notification::before{
  content: "";
  position: absolute;
  right: 14px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: #E74B17;
  box-shadow: 0px 2px 15px rgba(45, 57, 64, 0.05);
  border-radius: 50%;
  border: 2px solid #fff;
}
.notification-item{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  width: 335px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 1px 2px 9px 0px #a3a5a6;
}
.notification-item ul .notific-list a{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  color: #5C6366;
  
}
.notification-item ul .notific-list a .message-img{
  border-radius: 50px;
  width: 45px;
  height: 45px;
}
.notification-item ul .notific-list a .message-content{
  width: calc(100% - 45px);
  padding-left: 15px;
  position: relative;
}
.notification-item ul .notific-list a .message-content h3{
  font-size: 16px;
  margin: 0;
}
.notification-item ul .notific-list a .message-content span{
  position: absolute;
  top: 0;
  right:0;
}
.notification-item ul .notific-list a .message-content p{
  font-size: 14px;
  margin: 0;
}
.notification-item.notification-active{
  opacity: 1;
  visibility: visible;
}
.profile-btn{
  cursor: pointer;
  position: relative;
}
.profile-btn:hover .profile-wrep{
  opacity: 1;
  visibility: visible;
}
.profile-btn img{
  border-radius: 50px;
  margin-left: 30px;
}
.profile-btn span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #293033;
}
.profile-wrep{
  position: absolute;
  right: 0;
  top: 100%;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 1px 2px 9px 0px #a3a5a6;
  width: 200px;
  z-index: 1;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
  border-radius: 2px;
}

.profile-wrep li {
  padding-top: 10px;
}
.profile-wrep li a{
  font-size: 14px;
  display: block;
  color:#293033 ;
}


/* search-wrap area start css */
.select-area{
  background: #FFFFFF;
  padding: 23px 25px 30px 25px;
  border-radius: 30px;
}

.section-title h2{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #293033;
  margin-bottom: 18px;
}
.search-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-items{
  width: calc(100% - 120px);
}
.search-items li{
  width: calc(33.33% - 15px);
  margin-right: 15px;
}
.select-box{
  position: relative;
}
.select-box img{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.select-box select {
  font-size: 15px;
  font-weight: 400;
  padding-left: 50px;
  height: 50px;
  color: #A3A5A6;
  border: 1px solid #A3A5A6;
  border-radius: 12px;
  width: 100%;
}
.select-box select:focus{
  border: 1px solid #24B29B;
  outline: none;
  box-shadow: 1px 2px 9px 0px #a3a5a6;
}
.select-box .location{
  position: relative;
}

.search-wrap button{
  background: #00AAFF;
  padding: 13px 22px;
  border-radius: 12px;
  transition: .4s ease-in-out;
  font-family: Poppins;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: none;
  min-width: 120px;
  min-height: 40px;
}
/* search-wrap area end css */
/* appointment area start css */
.appointment-tabel{
  padding: 22px 0 30px ;
  background: #FFFFFF;
  border-radius: 20px;
}
.appointment-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.appointment-title h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.appointment-title a{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #209F85;
}
.appointment-table{
  width: 100%;
  padding: 0 22px 0 25px;
  overflow-x: auto;
  
}
.appointment-table thead {
  width: 100%;
}
.appointment-table thead tr th{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #5C6366;
  padding: 10px 18px 10px 22px;
  
}
.appointment-table tbody tr td{
  border-top: 1px solid#F0F1F2;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 18px 10px 22px;
  
}
.ongoin-btn{
  background:#D7FCD7;
  color:#1F991F;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 5px 35px;border-radius: 6px;
}
.upcomm-btn{
  background:#FCF0D7;
  color:#FFAA00;
  ;font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 5px 22px;border-radius: 6px;
}
.compl-btn{
background:#D7F0FC;
color:#0099E5;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
text-align: center;
padding: 5px 22px;border-radius: 6px;
}

.appointment-table tbody tr td a{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  color: #293033;
} 
.appointment-table tbody tr td a .view {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background: #209F85;
  padding: 5px 20px;
  border-radius: 6px;
}
/* appointment area end css */
/* review-news area stert css */
.review-news{
  margin: 30px 0;
}
.review-wrpe{
  background: #FFFFFF;
  padding: 25px;
  border-radius: 20px;
}
.review-wrpe .title h3{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #293033;
  margin-bottom: 15px;
}
.review-list-item{
  display: flex;
  flex-wrap: wrap;
}
.review-list-item .image{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 12px;
}
.review-list-item .content{
  width: calc(100% - 50px);
  padding-left: 15px;
}
.review-list-item .content h4{
  font-size: 16px;
  font-weight: 500;
  color: #293033;
  margin-bottom: 4px;
}
.review-list-item .content i{
  color: #FFBF00;
}
.review-list-item .content p{
  font-size: 13px;
  font-weight: 400;
  color: #5C6366;
  margin: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid#F0F1F2;
}
.recent-list{
  display: flex;
  flex-wrap: wrap;
}
.recent-list li img{
  margin-right: 15px;
  width: 100%;
}
.recent-list li h4{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-right: 25px;

}
.recent-list-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid#F0F1F2;
}
.recent-list-item .content{
  width: calc(100% - 85px);
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 15px;
  
}
.recent-list-item .image{
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 12px;
}
.recent-list-item .content h4{
  font-size: 14px;
  font-weight: 500;
}
.recent-list-item .content span{
  font-size: 12px;
  font-weight: 400;

}
/* review-news area end css */

/* content area end css */
/* right-sidebar area start css */
.message-area{
  background: #FFFFFF;
  padding: 25px 20px;
  border-radius: 20px;
  margin-top: 30px;
}
.inbox-weper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid#EEEFF0;
}
.inbox-weper span{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: #293033;
}
.inbox-weper img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.message-item-list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.message-item-list .message-img{
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.message-item-list .message-content{
  width: calc(100% - 45px);
  padding-left: 15px;
  position: relative;
}
.message-item-list .message-content h3{
  font-size: 15px;
  font-weight: 500;
  color: #293033;
  margin-bottom: 5px;


}
.message-item-list .message-content p{
  font-size: 14px;
  font-weight: 400;
  color:#5C6366;
  margin-bottom: 0;
}
.message-item-list .message-content span{
  font-family: Poppins;
  font-size: 13px;
  color: #5C6366;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
}
.message-item-list .message-content .message-nub{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background:#24B29B ;
  color:#FFFFFF ;
  padding: 1px 4px;
  border-radius: 5px;
  position: absolute;
  top: 66%;
  right: 0;
  content: '';
}

/* right-sidebar area end css */
/* search page css start */
.search-wrep{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-wrep .cardiolog{
  height: 56px;
  width: 182px;
}
.search-wrep .cardiolog h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;

}
.search-wrep .cardiolog span{
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
}
.search-wrep .filter {
  height: 55px;
  width: 154px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
}
.search-wrep .filter img{
  width: 20px;
  height: 20px;
}
.search-wrep .filter span{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  color: #5C6366;
}
.select-area.filter-deta{
  display: none;
  width: 100%;
}
/* search-item area start css */
.secrh-item-area{
  margin-top: 65px;
}
.secrh-wrap{
  background: #FFFFFF;
  border-radius: 20px;
  padding: 23px 25px;
}
.secrh-title {
  display: flex;
  flex-wrap: wrap;
}
.secrh-title  .secrh-title-text{
  border-bottom: 1px solid#EEEFF0;
}
.secrh-title  .secrh-title-text{
 width: calc(100% - 145px);
}
.secrh-title img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 1px 10px 5px rgb(51 102 94 / 10%);
  margin-top: -55px;
  margin-right: 15px;
}
.secrh-title-text h3{
  font-size: 18px;
  font-weight: 600;
  color: #293033;
}
.secrh-title-text  h5{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
}
.secrh-title-text span{
  color: #FFBF00;
  padding-bottom: 5px;
}
.secrh-title-text .secrh-icon-color{
  color: #B2B2B2
}
.secrh-wrap h4{
  margin-top: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #293033;
}
.secrh-wrap p{
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #5C6366;
  margin-top: 15px;
}
.secrh-wrap .location{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
}
.secrh-wrap .location i{
  padding-right: 5px;
}
.pegenetion-wrep{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
 margin-top: 40px;
}
.pegenetion-wrep .pegenetion-btn{
  background: #ffffff;
  border-radius: 12px;
  padding: 5px 12px;
  color: #00AAFF;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 99px;
  cursor: pointer;
}
.pegenetion-btn.next-btn i{
  padding-left: 8px;
}
.pegenetion-wrep .pegenetion-btn i{
  font-size: 18px;
  padding-right: 8px;
}
.pegenetion-wrep .pegenetion-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #D4EDFA;
  border-radius: 12px;
  margin: 0 15px;
}
.pegenetion-wrep .pegenetion-item li{
  padding: 8px 15px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #5C6366;
  transition: .4s ease-in-out;
}
.pegenetion-wrep .pegenetion-item li:hover{
  color: #ffffff;
  background: #00AAFF;
  border-radius: 8px;

}
.pegenetion-wrep .pegenetion-item li a{}
/* search-item area end css */
/* search page css end */
/* doctor profile page start css */
.header-title.doctor {
  display: flex;
  flex-wrap: wrap;
}
.header-title.doctor li{}
.header-title.doctor li{}
.header-title.doctor li a{
  color: #70708C;
}
.header-title.doctor li a i {
  padding: 0px 5px 1px 5px;
  font-size: 15px;
}

/* doctor-profile area start css */
.doctor-profile{
  margin-top: 30px;
}
.profile-wepr{
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  
}
.profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.profile .profile-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 8px 15px 0px #33665E1A;
}
.profile .profile-text h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;

}
.profile .profile-text h4{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
}
.profile .profile-text span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
.profile .profile-text span img{
  padding-right: 5px;
}
.profile .profile-text a{
  color: #00AAFF;
  padding-top: 5px;
}
.profile .profile-text a h3{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
} 
.profile .profile-text a h3 i{
  font-size: 14px;
  padding-left: 10px;
} 

.profile .sergen .sergen-btn{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #24B29B;
  padding: 12px 20px;
  border: 1px solid#24B29B;
  border-radius: 12px;
  cursor: pointer;
}
.profile .sergen .sergen-btn img{
  padding-right: 5px;
}
 .sergen-icon {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.sergen-icon i{
  color:#FFBF00;
}
.sergen-icon .icon-color i{
 color: #B2B2B2;
}
.sergen-icon .icon-color {
  margin-top: -3px;
  color: #B2B2B2;
 margin-right: 10px;
}
.profile .sergen p{
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
}
.about-area{
  margin-top: 34px;
}
.about-area h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
}
.about-area p{
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
  padding-right: 15px;
}
.experiene{}
.experiene h2{
  font-size: 18px;
  font-weight: 600;
  color: #293033;
}
.experiene span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
  margin-top: 10px;
}
.experiene h3{
  font-size: 16px;
  font-weight: 500;
  color: #293033;
}
.specialitie{}
.specialitie h2{
  font-size: 18px;
  font-weight: 600;
  color: #022741;
  margin-bottom: 10px;
}
.specialitie ul{
}
.specialitie ul li{
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
  padding-bottom: 4px;
  position: relative;
  padding-left: 16px;
}
.specialitie ul li::before{
  position: absolute;
  content: '';
  top: 4px;
  left: 0;
  background: #24B29B;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
.profile-addres{
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  
}
.profile-addres .map-location{

}
.profile-addres{}
.addres-itam{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.addres-itam img{
  padding-right: 15px;
  width: 30px;
  height: 20px;
}
.addres-itam .addres-itam-text{
 width: calc(100% - 30px);
}
.addres-itam .addres-itam-text h3{
  font-size: 18px;
  font-weight: 500;
  color: #293033;
}
.addres-itam .addres-itam-text span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #5C6366;
}
.location-area{
  background: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
}
.location-area h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 15px;
}
.location-wrep{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 11;
  padding-bottom: 15px;
}
.location-wrep::before {
  position: absolute;
  border-left: 4px solid#1F9985;
  height: 100%;
  content: '';
  top: 0;
  left: 20px;
  z-index: -1;
}
.location-wrep .sub-location i {
  color: #FFFFFF;
  background: #1F9985;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 15px 17px;
  font-size: 17px;
  margin-right: 15px;
 
}
.location-wrep .location-text{}
.location-text h3{
  font-size: 17px;
  font-weight: 600;
  color:#293033;
  margin-bottom: 5px;
}
.location-text p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #5C6366;
}
.location-text span{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
  margin-bottom: 5px;
}
.location-text span i{
  padding-right: 5px;
}
.location-text .location-text-color{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #FF2B00;
}
.recent-reviews-area{
  background: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
}
.recent-reviews-area h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 20px;
}
.recent-reviews-area p{
    height: 72px;
    width: 398px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #5C6366;
    line-height: 25px;
}
.recent-reviews-wrep{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EEEFF0;
  padding-bottom: 12px;
}
.recent-reviews-wrep:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.recent-reviews-wrep img{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 20px;

}
.recent-reviews-wrep .reviews-itam{}
.recent-reviews-wrep .reviews-itam h3{
  font-size: 17px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 8px;
}
.recent-reviews-wrep .reviews-itam .reviews-point{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  background: #1F9985;
  width: 45px;
  height: 23px;
  padding: 5px 15px;
  border-radius: 50px;
}
/* doctor-profile area end css */
/* booking Doctor page css start */
.booking-profile{
  background: #ffffff;
  padding: 65px 30px;
  border-radius: 20px;
}
.booking-profile .profile-text{}
.booking-profile .profile-text .profile-img{
  border-radius: 100px;
  margin-bottom: 28px;
}
.booking-profile .profile-text h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;

}
.booking-profile .profile-text h4{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
}
.booking-profile .profile-text .icon-color {
  font-size: 16px;
  font-weight: 400;
  color: #5C6366;
}
.booking-profile .profile-text .sergen .sergen-icon p{
  font-size: 14px;
  font-weight: 400;
  color: #5C6366;
}

/* patient info area css start */
.patient-wrap{
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
}
.patient-wrap h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
}
.patient-itam {

}
.patient-data {
    margin-bottom: 5px;
}

.patient-title{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #454A4D;
  width: 100%;
  padding-top: 20px;
}
.patient-placeholder{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #8A9499;
  padding: 15px 20px;
  border-radius: 12px;
  border:1px solid #8A9499;
  width: 100%;
  height: 55px;
}
.patient-textarea{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #8A9499;
  padding: 15px 10px;
  border-radius: 12px;
  border:1px solid #8A9499;
  width: 100%;
  height: 55px;
}
.patient-textarea:focus-visible{
  outline: none;
}
.patient-placeholder:focus-visible{
  outline: none;
}
/* patient info area css end  */
/* apppointment type area start css */
.apppointment-type-area{
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
}
.apppointment-type-area h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 25px;
}
.nav-item .nav-link {
  color: #8A9499;
  border: 1px solid#8A9499;
  border-radius: 12px;
  padding: 10px 30px;
  margin-right: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.nav-item{

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background: #24B29B;
}
.apppointment-time{}
.apppointment-time h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-top: 35px;
  margin-bottom: 20px;
}
.apppointment-time-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.time-title{}
.time-title h4{
  font-size: 18px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 4px;
}
.time-itam {
  display: flex;
  flex-wrap: wrap;
}
.time-itam li .months{
  width: 60px;
  height: 60px;
  border: 1px solid #D7DADB;
  border-radius: 6px;
  padding: 8px 12px;
  transition: .4s ease-in-out;
  margin-right: 15px;
}
.time-itam li .months:hover {
  border: 1px solid #24B29B;
}
.time-itam li .months:hover p{
   color: #24B29B;
}
.time-itam li .months:hover span{
  color: #24B29B;
}
.time-title.time-title-two li .months{
  transition:.4s ease-in-out;
}
.time-title.time-title-two .time-itam li .months:hover {
  background: #24B29B;
  color: #ffffff;
}
.time-title.time-title-two .time-itam li .months:hover p{
  color: #ffffff;
}
.time-title.time-title-two .time-itam li .months:hover span{
  color: #ffffff;
}
.time-itam li .months p{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #8A9499;
  transition:.4s ease-in-out;
}
.time-itam li .months span{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #8A9499;
  transition:.4s ease-in-out;
}
.choose-time{}
.choose-time h3{
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
 color: #293033;

}
.choose-time-item{
  display: flex;
  flex-wrap: wrap;
}
.choose-time-item li{
  margin-right: 18px;
  margin-bottom: 20px;
  
}
.choose-time-item li .choose-btn{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #8A9499;
  padding: 8px 25px;
  border: 1px solid#D7DADB;
  border-radius: 6px;
  background: #ffffff;
  transition: .4s ease-in-out;
}
.choose-time-item li :hover.choose-btn{
  border: 1px solid#24B29B;
  color: #24B29B;
}
.pay{
 text-align: end;
 margin-top: 30px;
}
.pay a .pay-btn{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  padding: 14px 55px;
  background: #00AAFF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
/* apppointment type area end css */
/* booking Doctor page css end  */
/* checkout page css start */

.booking-profile.booking-summary {
  padding: 25px 30px;
}
.booking-profile.booking-summary h3{
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 30px;
}
.booking-profile.booking-summary .sergen-icon .icon-color {
  margin-top: -2px;
}
.booking-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.booking-item .booking-item-list tr th{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #454A4D;
  padding-bottom: 10px;

}
.booking-item .booking-item-list tr td{
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #5C6366;
}
.booking-item .tolal{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #293033;
  border-top: 1px solid #EEEFF0;
}
.booking-item .tolal th{
 text-align: left;
}
.booking-item .tolal td{
  text-align: right;
}
/* payment area start css */
.payment-area {
  padding: 21px 30px;
  background: #FFFFFF;
  border-radius: 20px;
}
.payment-area h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 20px;
}
.payment-area h3{
  font-size: 16px;
  font-weight: 500;
  color: #454A4D;
  margin-bottom: 8px;
}
.payment-area .card-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.payment-area .card-item li {
  border-radius: 12px;
  border: 1px solid#D7DADB;
  width: 118px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease-in-out;
  cursor: pointer;
}
.payment-area .card-item li:hover{
  border: 1px solid#24B29B;
}
.payment-area .card-item .add-new{
  color:#8A9499 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-area .card-item .add-new i{
  border: 1px solid#D7DADB;
  border-radius: 6px;
  color:#8A9499 ;
  padding: 5px;
}
.payment-area .card-item .add-new span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
}
/* payment area end css */
/* checkout page css end */
 /* appointment-area page start css */
.appointment-area{
  padding: 40px 0;
  background: #ffffff;
  border-radius: 20px;
}
.appointment-wrep{
}
.appointment-wrep .profile-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0px 8px 15px 0px #33665E1A;
  margin-bottom: 30px;
}
.appointment-wrep h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
}
.appointment-wrep h4{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;

}
.appointment-wrep p{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
  position: relative;
  display: inline;
  z-index: 1;
  
}
.appointment-wrep p::before {
  height: 14px;
  width: 14px;
  border-radius: 55px;
  top: 4px;
  right: 110px;
  position: absolute;
  content: '';
}
.appointment-wrep p.online::before{
  background: #00B200;
}
.appointment-wrep p.offline::before{
  background: rgb(255, 8, 8);
}
.appointment-date {
  width: 380px;
  padding-top: 25px;
  border-top: 1px solid#EEEFF0;
}
.appointment-date li {
  display: flex;
}
.appointment-date li span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #454A4D;
  margin-left: 45px;
}
.appointment-date li span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #454A4D;
}
.appointment-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-item li .voice-btn button{
  border: none;
  width: 160px;
  height: 60px;
  background: #24B29B;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 20px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

 .appointment-item li .video-btn button{
  border: none;
  width: 160px;
  height: 60px;
  background: #00AAFF;
  cursor: pointer;
  border-radius: 12px;
  margin-right: 20px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.appointment-item li .message-btn button{
  border: none;
  width: 160px;
  height: 60px;
  background: #4E6BFF;
  cursor: pointer;
  border-radius: 12px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}


 /* appointment-area page end css */
 /* voice page start css */
.voice-area{
  background: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
}
.voice-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEFF0;
  padding: 20px;
}
.voice-left-side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.voice-left-side img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.voice-left-side h5{
  font-size: 16px;
  font-weight: 600;
  color: #5C6366;
  margin-left: 15px;
}
.voice-right-side{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.voice-right-side a {
  margin-left: 25px;
}
.voice-right-side a i {
  color: #5C6366;
  width: 50px;
  height: 50px;
  border: 1px solid #8A9499;
  border-radius: 50px;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.voice-werp{
  padding: 125px 0;
  text-align: center;
}
.voice-werp img{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  box-shadow: 0px 8px 15px 0px #33665E1A;
}
.voice-werp h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-top: 25px;
}
.voice-werp span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #8A9499;
}
.voice-item {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.voice-item li{
  margin: 0 20px;
}

.voice-item li .voice-btn {
  border: 1px solid#00AAFF;
  border-radius: 100px;
  width: 55px;
  height: 55px;
  background: none;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #00AAFF;
  font-size: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  position:relative;
}

.voice-item li .voice-btn.voice-btn-stop{
  border-color:#8A9499 ;
  color: #8A9499;
}
.voice-btn.voice-btn-stop:before {
  color: #8A9499;
  position: absolute;
  content: '/';
  font-size: 30px;
  top: 3px;
  left: 21px;
  transform: translateX(-50%);
  transform: rotate(-51deg);
}
.voice-item li span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #8A9499;
}
.end-call{
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
}
.end-call span {
  display: flex;
  display: inline-flex;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #F22A18;
  position: relative;
  cursor: pointer;
}
.end-call span::before {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 35px;
  left: 35px;
  content: url(../images/icons/end-call.svg);
}
.end-call p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #8A9499;
  margin: 0;
}
 /* voice page end css */
 /* video page start css */
 .video-area{
  border-radius: 20px;
  margin-top: 30px;

 }
 .video-caller-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #24B29B;
  color: #ffffff;
  padding: 20px 30px;
  border-bottom: 1px solid#1F9985;
  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
}
.video-time{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.video-time i{
  width: 50px;
  height: 50px;
  border: 1px solid#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 100px;
}
.caller-id{
  margin-left: 10px;
}
.caller-id h3{
  font-size: 16px;
  font-weight: 600;
}
.caller-id span{
  font-size: 16px;
  font-weight: 500;
}
.video-text-icon{

}
.video-text-icon i{
  width: 50px;
  height: 50px;
  border: 1px solid#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 100px;
  color: #ffffff;
}
.video-wrap{
  background: url(../images/home/profile-img-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
  width: 100%;
  position: relative;
}
.video-wrap h3{
  font-size: 25px;
  font-weight: 600;
  color: #293033;
}
.out-video{
    width: 173px;
    height: 115px;
    border: 2px solid #ffffff;
    border-radius:12px ;
    position: absolute;
    top: 53px;
    right: 140px;
}
.video-btn-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 15px 0;
 margin-top: 590px;

}
.video-btn-item li button {
  width: 60px;
  height: 60px;
  background: #00AAFF;
  margin: 0 12px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.video-btn-item li button {
  color: #FFFFFF;
  font-size: 25px;
}

 /* video page end css */
 /* review area start css */
.review-area{
  background: #ffffff;
  padding: 105px 0;
  border-radius: 12px;
  margin-top: 30px;
}
.appointment-wrep h3{
  font-size: 18px;
  font-weight: 500;
  color: #293033;
  margin-top: 50px;
}
.appointment-wrep .secrh-title-text{
  margin-top: 12px;
}
.appointment-wrep .secrh-title-text span i{
  font-size: 35px;
  padding: 0 10px;
}
.review-comment{
  margin-top: 55px;
}
.review-comment #review-text {
  width: 100%;
  height: 140px;
  padding: 15px 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #D7DADB;
  border-radius: 12px;
}
.review-comment #review-text:focus-visible {
  outline: none;
}
.review-comment .review-btn-cancel{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #00AAFF;
  width: 160px;
  height:55px;
  border-radius: 12px;
  border: none;
  background: #E9F1F5;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 55px;
}
.review-comment .review-btn-send{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 160px;
  height:55px;
  border-radius: 12px;
  border: none;
  background: #00AAFF;
  margin-right: 25px;
  cursor: pointer;
  margin-top: 55px;
}
 /* review area end css */
 /* message pege start css */
 .message-area{}
 .message-area .search-bar{
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEEFF0;;
 }
 .message-area .search-bar #search-here{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #A3A5A6;
  padding: 12px 0 12px 45px;
  border: none;
  background: #F6F9FA;
  border-radius: 12px;
  width: 100%;

 }
 .message-area .search-bar #search-here:focus-visible {
 outline: none;
}
 .search-bar .search-icon {
  position: absolute;
  left: 16px;
  top: 13px;
}
.search-bar .search-icon i{
  font-size: 20px;
  color: #A3A5A6;
}
.message-item .nav-tabs {
  border-bottom:0;
}
.nav-item .message-item-list.nav-link {
  color: #8A9499;
  border: none;
  border-radius: 12px;
  margin-right: 0;
  padding: 15px 10px;
  margin-top: 13px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #F4F7F8;
}
.chat-content{
  margin-top: 30px;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
}
.chat-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEFF0;
}
.chat-profile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 180px;
}
.chat-profile img {
  border-radius: 100px;
  width: 60px;
  height: 60px;
}
.chat-profile .chat-profile-name{
  margin-left: 15px;
}
.chat-profile .chat-profile-name h2{
  font-size: 18px;
  font-weight: 600;
  color: #293033;
}
.chat-profile .chat-profile-name span{
  color: #24B224;
  background: #DFF7DF;
  border-radius: 17px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 10px 3px 25px;
  position: relative;
  z-index: 1;
}
.chat-profile .chat-profile-name span::before {
  background: #24B224;
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  left: 10px;
  top: 8px;
  border-radius: 100px;
}
.chat-header-icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.chat-header-icon a{
  width: 45px;
  height: 45px;
  color: #00AAFF;
  background: #E9F1F5;
  border-radius: 100px;
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.chat-header-icon a i{
  font-size: 20px;
}
.chat-tab-box{
  
}
.media {
  display: flex;
  align-items: center;
}
.chat-profile-box img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: 50px;
}
.media-body {
  position: relative;
  margin-top: 50px;
}
.media-body .chating {
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #F4F7F8;
  display: inline-block;
  margin-right: 50px;
}

.media-body span {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  color: #5C6366;
}
.media.text-right {
}
.media.text-right .media-body .chating{
  margin-right: 0;
  margin-left: 50px;
}
.media.text-right .media-body{}
.media.text-right .media-body .chating{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 12px;
}
.media.text-right .media-body span {
  top: -20px;
  right: 0;
}
.media.text-right .chat-profile-box img{ 
  margin-right: 0;
  margin-left: 15px;
}
.write-message{
  position: relative;
  margin-top: 30px;
}
.chat-textarea {
  width: 100%;
  height: 60px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  background: #F6F9FA;
  border: none;
  padding: 18px 120px 18px 20px;
  border-radius: 12px;
  display: flex;
}
.chat-textarea:focus-visible {
  outline: none;
}
.chat-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.chat-emoji{
  color: #8A9499;
  font-size: 20px;
  margin-right: 20px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.chat-send-btn{
  border: none;
  background: #00AAFF;
  padding: 8px 10px;
  border-radius: 12px;
  color: #ffffff;
}
 /* message pege end css */
 /* profile pege  start css */
.present-wrep{
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
}
.present-wrep .present-wrep{
  position: relative;
}
.present-title{
  text-align: center;
}
.present-title img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  
}
.present-title h3{
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  color: #293033;
}
.present-title span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #5C6366;
}
.present-wrep .edit-page {
  height: 50px;
  width: 110px;
  border-radius: 12px;
  background: #00AAFF;
  color: #FFFFFF;
  padding: 10px 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 45px;
  right: 50px;
}
.introduction-title h4{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
}
.introduction-title p{
  font-size: 15px;
  font-weight: 400;
  color: #5C6366;
  line-height: 25px;
}
.present-data{
  margin-top: 25px;
}
.present-data h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 7px;
}
.present-membership{}
.present-membership li{
  display: flex;
  flex-wrap: wrap;
}
.present-membership li p{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #5C6366;
  width: 180px;
  margin: 0;
}
.present-membership li span{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #5C6366;
  width: 180px;
}
.appointment-tabel.profile-payment .appointment-title{
  padding: 0;
}
.appointment-tabel.profile-payment .appointment-table thead tr th{
  padding-left: 0;
}
.appointment-tabel.profile-payment .appointment-table tbody tr td {
  padding-left: 0;
}
.appointment-tabel.profile-payment .appointment-table tbody tr td h3{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #293033;
}
.compl-btn.compl-payment {
  color: #1F991F;
  background: #D7FCD7;
}
.appointment-tabel.profile-payment .appointment-table tbody tr td i{
  margin-left: 15px;
  color: #5C6266;
}

.compl-btn.view-payment{
  background: #00AAFF;
  color: #F3F3F3;
  cursor: pointer;
}
.view-payment-item {
  position: absolute;
  bottom: -84px;
  right: 78px;
  background: #FFFFFF;
  width: 185px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(0, 68, 102, 0.1);
  padding: 10px 7px;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out;
}
.view-payment-item.view-payment-active{
  opacity: 1;
  visibility: visible;
}
.view-payment-item li{
  border-radius: 5px;
  padding: 5px 12px;
  margin: 6px 0;
  color: #5C6366;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.view-payment-item li:hover{
  background: #F2F6F7;
}
.view-payment-item li i{
  margin-right: 10px;
}
.doctor-weper{}
.mydoctor-title{
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
}
.mydoctor-title{
  text-align: center;
}
.mydoctor-title h3{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  text-align: left;
}
.booking-profile.mydoctor{
    background:none;
    padding:0;
    border-radius:0;
    text-align: left;
}
.booking-profile.mydoctor .profile-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.booking-profile.mydoctor .profile-text .profile-img{
  width: 100px;
  height: 100px;
  margin: 0;
}
.booking-profile.mydoctor .profile-text .mydoctor-text{
  width: calc(100% - 100px);
  padding-left: 20px;
}
.mydoctor-title .mydoctor-btn button{
  margin-top: 25px;
  border: none;
  background: #00AAFF;  
  border-radius: 12px;
  padding: 14px 30px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}
.mycomplain{
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 30px;
  text-align: center;
}
.mycomplain h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  text-align: left;
}
.mycomplain h3{
  font-size: 18px;
  font-weight: 500;
  color: #293033;
  text-align: left;
}
.mycomplain p{
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: #5C6366;
  text-align: left;
}
.mycomplain p span{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
}
.mycomplain .complain-btn{
  margin-top: 25px;
  border: none;
  background: #00AAFF;  
  border-radius: 12px;
  width: 290px;
  padding: 14px 30px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}
 /* profile pege  end css */
 /* editprofile area start css */
.editprofile-area{
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
}
.editprofile-area h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  margin-bottom: 30px;
}
.photo-up{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.photo-up img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 30px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.up-btn {
  padding: 13px 30px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background: #24B29B;
  border: none;
}
.up-btn.up-delete{
  color: #24B29B;
  background: #E9F5F3;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.personal-item{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.personal-wrap {
  flex-direction: column;
  display: flex;
  width: 32.3%;
  margin-bottom: 20px;
}
.personal-wrap .personal-title{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #454A4D;
}
.personal-wrap .personal-text{
  color: #8A9499;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border: 1px solid #D7DADB;
  border-radius: 12px;
}
.personal-wrap .personal-text:focus{
  outline: none;
}
.introduc-area{}
.introduc-area h4{
  font-size: 16px;
  font-weight: 400;
  color: #454A4D;
}
.introduc-area p{
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #8A9499;
  padding: 15px 20px 48px 20px;
  border-radius: 20px;
  border: 1px solid #D7DADB
}
.create-pass{}
.create-pass h2{
  font-size: 20px;
  font-weight: 600;
  color: #293033;
  padding-bottom: 7px;
  border-bottom: 1px solid#F0F1F2;
  margin-bottom: 25px;
}
.insurance-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.insurance-item .personal-wrap{
  width: 24%;
}
.save-btn {
  display: flex;
  justify-content: end;
}
.save-btn .save-chang {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  background: #00AAFF;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}




 /* editprofile area end css */